<!DOCTYPE html>
<html lang="pl">

<head>
    <title>FlashBox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles/lockers.css" rel="stylesheet" type="text/css">
    <script src="../scripts/locker_index_script.js"></script>

</head>

<body>
    <div class="bg-image">
    <div class="container">
        
    
        <div class="row d-none d-md-block" >
            <div class="my-title col-12 text-center"> <span>Witaj w Paczkomacie FlashBox</span></div>
        </div>
        <div class="row" >
            <div class="col-sm-12 col-md-6 d-flex justify-content-center mt-5 mb-md-0 "><a href="/pick-up" class="main-button shadow " > Odbierz Paczkę</a></div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center mt-5 mb-md-0 "><a href="/post-it" class="main-button shadow "> Nadaj Paczkę</a></div>
        </div>

       
    
    <span  class="foot position-absolute bottom-0 end-0">© 2020 FlashBox </span>
    <a href="/storage"  class="position-absolute bottom-0 start-0"> <button type="button" class="btn btn-dark">Dla kurierów</button> </a>
</div>
</div>
</body>

</html>