<!DOCTYPE html>
<html lang="pl">

<head>
    <title>FlashBox</title>
    <meta charset="utf-8">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="scripts/ships_script.js"></script>
</head>

<body>
    <div class="nav-wrapper">

        <div class="logo">
            <div class="logo-relative">
                <a class="logo-text" href="/">
                    FLASH<span class="span">BOX</span>
                </a>
                <div class="logo-image">
                    <img src="images/logo.png">
                </div>
            </div>
        </div>

        <ul class="nav-mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Rejestracja</a></li>
            {% if isLoggedIn %}
            <li><a href="/ships">Moje Paczki</a></li>
            <li><a href="/new_ship">Nowa Paczka</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>

    <div class="total_form_container">
        <div class="ship-list-box">
            <div class="form-title">
                Moje paczki
            </div>
            <label class="numberOfShips">
                Masz: {{ numberOfShips }} paczki
            </label>
            {% for ship in my_ships%}
            <div class='ship-list-element'>
                <label>{{ ship['path_and_filename'] }}</label>
                <label class="ship-status">{{ ship['ship_status'] }}</label>
                <label class="time_of_creation">{{ ship['time_of_creation'] }}</label>

                {% if ship['ship_status'] == 'new'%}
                <a href="/ships/delete?id={{ ship['path_and_filename'] }}" >
                    <button class="delete-button" > Usun</button>
                </a>
                {% endif %}

                <a href="https://localhost:8081/waybill/{{ ship['path_and_filename'] }}">
                    <button class="add-button" >Pobierz</button>
                </a>
            </div>
            {% endfor %}
            {% if prevPage != ''%}
            <a href={{prevPage}} class="paginnation-anchor"><button class="paggination-button" >Prev</button></a>
            {% endif %}
            {% if nextPage != ''%}
            <a href={{nextPage}} class="paginnation-anchor" ><button class="paggination-button" >Next</button></a>
            {% endif %}
        </div>
        
    </div>
    <footer>
        <p class="footer-inline left">&copy; 2020 Mateusz Milewski</p>
    </footer>

</body>

</html>