<!DOCTYPE html>
<html lang="pl">

<head>
    <title>FlashBox</title>
    <meta charset="utf-8">
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
    <link href="../styles/error.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="scripts/login_script.js"></script>
</head>

<body>


    <div class="total_form_container">
        <div class="error-containter">

            <h1>Bład 400 </h1>
            <h2>Nieprawidłowe zapytanie</h2>
            Wróć na stronę główną:
            <a href="https://localhost:8080/">
                Home
            </a>
        </div>
    </div>


</body>

</html>